header {
    background: #fff;
    padding: 0 30px;
    @media (max-width: 990px) {
        position: fixed;
        z-index: 999;
        padding: 0 20px;
        width: 100%;
        transition: .3s;
        box-sizing: border-box;
        top: -2px;
        box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, .4);
    }
    .container {
        padding: 30px 0;
        @media (max-width: 990px) {
            padding: 10px 0;
        }
    }
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-box {
        img {
            height: 40px;
            @media (max-width: 990px) {
                height: 35px;
            }
        }
    }
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .6);
    z-index: 9;
    display: none;
}

.menu-btn {
    display: none;
    @media (max-width: 990px) {
        display: block;
        height: 35px;
    }
}

main {
    @media (max-width: 990px) {
        margin-top: 58px;
    }
}

.close {
    display: none;
    @media (max-width: 990px) {
        display: block;
        height: 25px;
        position: absolute;
        right: 25px;
        top: 18px;
    }
}

.header-feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 990px) {
        display: none;
    }
}

.header-feedback-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    i {
        margin-right: 10px;
        font-size: 30px;
        color: #005aab;
        padding: 10px 15px;
    }
}

.header-link {
    color: #000;
}

.header-feedback-info {
    display: flex;
    flex-direction: column;
    .header-link:first-child{
        font: bold 1.35rem 'Roboto', sans-serif;
        transition: .3s;
        color: #005aab;
    }
    .header-link:last-child{
        font: .87rem 'Roboto', sans-serif;
        opacity: .8;
        transition: .3s;
        &:hover {
            color: #9cc8d8;
        }
    }
}

nav {
    background: #000;
    @media (max-width: 990px) {
        display: none;
        position: fixed;
        left: 0;
        width: 100%;
        top: 56px;
        z-index: 999;
        box-sizing: border-box;
        background: #fff;
        height: 250px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .sub-menu {
        display: none;
        position: absolute;
        z-index: 99;
        top: 50px;
        background: #000;
        width: 100%;
        transition: .3s;
        @media (max-width: 990px) {
            display: block;
            position: relative;
            top: 0;
            background: none;
        }
        li {
            padding: 0;
            margin: 10px 5px;
            &::after {
                display: none;
            }
            a {
                &:hover {
                    &::before {
                        display: none;
                    }
                }
                @media (max-width: 990px) {
                    font-weight: 300;
                }
            }
        }
        li:last-child{
            @media (max-width: 990px) {
                margin-bottom: 0;
            }
        }
    }
    ul {
        display: flex;
        @media (max-width: 990px) {
            flex-direction: column;
        }
        li:first-child{
            padding-left: 0;
        }
        li:nth-child(2) {
            &::after {
                content: url(../img/icon/down.png);
                position: absolute;
                right: -3px;
                top: 38%;
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        li:nth-child(3) {
            &::after {
                content: url(../img/icon/down.png);
                position: absolute;
                right: -3px;
                top: 38%;
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        li {
            padding: 20px;
            position: relative;
            @media (max-width: 990px) {
                padding: 8px 0;
            }
            &:hover {
                .sub-menu {
                    display: block;
                }
            }
            a {
                display: block;
                color: #fff;
                text-transform: uppercase;
                transition: .3s;
                position: relative;
                font: bold .9rem 'Roboto', sans-serif;
                @media (max-width: 990px) {
                    padding:0;
                    font: 500 1rem 'Roboto', sans-serif;
                    color: #000;
                }
                &:hover {
                    &::before {
                        transform: translateX(0px);
                        opacity: 1;
                        @media (max-width: 990px) {
                            display: none;
                        }
                    }
                }
                &::before {
                    opacity: 0;
                    content: '';
                    height: 1px;
                    width: 100%;
                    background: #fff;
                    position: absolute;
                    display: block;
                    left: 0;
                    transform: translateX(50px);
                    bottom: -5px;
                    transition: .3s;
                }
            }
        }
    }
}

.losung-title {
    font: bold 2.2rem 'Roboto', sans-serif;
    color: #005aab;
    text-transform: uppercase;
    @media (max-width: 990px) {
        display: none;
    }
    span {
        font-weight: 300;
    }
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    box-sizing: border-box;
    @media (max-width: 990px) {
        display: none;
        position: fixed;
        left: 0;
        width: 100%;
        top:56px;
        z-index: 999;
        box-sizing: border-box;
        background: #fff;
    }
}