.main-slider {
    margin-bottom: -30px;
    .slide {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .slick-slide {
        height: 800px;
        @media (max-width: 990px) {
            height: 500px;
        }
    }
    .slick-dots {
        bottom: 40px;
        position: absolute;
    }
    .slick-dots li button:before {
        color: #fff;
        font-size: 3rem;
        opacity: .3;
    }
    .slick-dots li.slick-active button:before {
        color: #fff;
        opacity: 1;
    }
}

.main-slider-box {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @media (max-width: 990px) {
        margin-top: 30px;
    }
    .slider-title {
        font: 500 4rem 'Roboto', sans-serif;
        margin-bottom: 20px;
        color: #fff;
        @media (max-width: 990px) {
            font-size: 3rem;
        }
        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }
    .slider-text {
        color: #fff;
        opacity: .6;
        padding-left: 10px;
        &::before {
            content: '-';
            position: relative;
            left: -5px;
        }
    }
}

.center {
    text-align: center;
}

.slider-text-simple {
    color: #fff;
    font: 500 1.2rem 'Roboto', sans-serif;
}